/* Styles */

/* Imported Fonts */
@import url(https://fonts.googleapis.com/css?family=Limelight);

/*Page Background*/
#index, body  {
  background-image: url("images/background-image.jpg");
  
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#netflix, body  {
  background-image: url("netflixBackground.jpg");
  background-color: #000000;
}

/* Top Banner */
.banner h1 {
  font-size: 1.6em;
  padding: 10px 0;
  font-weight: 800;
}

.top-banner, img{
  width: 100%;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* NAV */
.nav-bar a{
  color:black;
  font-family: 'Limelight', regular;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #acc1c6;
  z-index: 100;
}

li {
  float: left;
}

li a {
  display: block;
  color: #d6e2d8;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #57706f;
}
