/* Styles */
.banner h1 {
  font-size: 1.6em;
  padding: 10px 0;
  font-weight: 800;
}

.top-banner, img{
  width: 1200px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}