@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Sans+Pro&display=swap);

/*Page Background*/
body  {
  background-image: url("../backgroundImage.jpg");
  background-color: #000000;
}

/*Page Header and Nav Bar*/
.main-header h1,
p{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

.main-header h1{
    font-size: 1.8em;
    padding: 10px 0;
    font-weight: 800;
}

.main-header p{
    font-size: .7em;
    font-weight: 2000;
    letter-spacing: 5px;
    color: orange;
}

.main-header {
    width: 100%;
    padding:60px 0;
    text-align: center;
    background: linear-gradient(to top, #8C70B1 0%, #24074B 100%);
    color: orange;
}

.DJGNlogo{
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    height: 190px;
}

.nav-bar a{
  color:#ffa500
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #24074B;
  z-index: 100;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffa500;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
}