/* Styles */

/* Imported Fonts */
@import url(https://fonts.googleapis.com/css?family=Limelight);
@import url(https://fonts.cdnfonts.com/css/warriot);

/*Page Background*/
#index, body  {
  background-image: url("images/background-image.jpg");
  
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Top Banner */
.banner h1 {
  font-size: 1.6em;
  padding: 10px 0;
  font-weight: 800;
}

.top-banner > img{
  width: 100%;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* NAV */
.nav-bar a{
  color:white;
  font-family: 'Limelight', regular;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #201f1d;
  z-index: 100;
}

li {
  float: right;
}

li a {
  display: block;
  color: #d6e2d8;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #57706f;
}

/* About Page Header */

#about > h1 {
  text-align: center;
}

/* About Page left align */
#lft > h3 {
  text-align: left;
}

/* About Page right align */
#rgt > h3 {
  text-align: right;
}

/* Netflix */
#netflix, body  {
  background-image: url("images/netflixBackground.jpg");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Paramount */
#paramount, body  {
  background-image: url("images/paramountbacking.jpg");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Disney */
#disney, body  {
  background-image: url("images/disneybacking.jpg");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Review */
.banner-video > iframe{
  margin-left: 350px;
  margin-right: auto;
}

.wraps {
  color: white;
}

.leftimg {
  padding: 10px 12px;
  max-height: 600px;
  max-width: 100%;
}


#verdict{
  width: 100rem; 
  background-color: maroon; 
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#verdict > h1{
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: 'warriot', sans-serif;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.article-column {
  background-color: #201f1d;
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 50px;
}